/* Общие стили */
body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #f9f9f9;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}

.nav {
	display: flex;
	
}

.container h1 {
	margin-right: 100px;
}
/* Стили для шапки */
header {
	background: #ffffff;
	border-bottom: 1px solid #eaeaea;
	padding: 20px 0;
	height: 100vh;
	background-image: url("./img/quadro-back.jpg");
	background-size: cover;
}


.main-btn {
	position: absolute;
	top: 450px;
	left: 200px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #4A628A;
	border: none;
	text-decoration: none;
	border-radius: 5px;
	color: #fff;
	font-size: 24px;
}

.main-btn:hover {
	background-color: #fff;
	color: #333;
}

header h1 {
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0;
	color: #333;
}

header nav ul {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

header nav ul li {
	margin: 0 15px;
}

header nav ul li a {
	text-decoration: none;
	color: #666;
	font-weight: 500;
	padding: 5px 10px;
	transition: color 0.3s ease, border-bottom 0.3s ease;
}

header nav ul li a:hover {
	color: #333;
	border-bottom: 2px solid #333;
}

/* Стили для секций */
.section {
	padding: 40px 0;
	background: #ffffff;
	margin-bottom: 20px;
}

.section h2 {
	text-align: center;
	font-size: 1.6em;
	color: #333;
	margin-bottom: 20px;
	font-weight: bold;
}

.section p, .section ul {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #555;
}

.section ul {
	list-style: none;
	padding: 0;
}

.section ul li {
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px solid #eaeaea;
}

.section ul li:last-child {
	border-bottom: none;
}

/* Стили для контактов */
#contact p {
	margin-bottom: 10px;
	color: #555;
}

#contact p:last-child {
	margin-bottom: 0;
}

/* Стили для футера */
footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	font-size: 0.9em;
	margin-top: 20px;
}

footer p {
	margin: 0;
}

/* Дополнительные стили для минимализма */
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

